body {
  background-color: rgb(0, 0, 0); /*just to do things right I guess*/
  width: 1440px;
  height: 825px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
  height: 100%;
}

.inText {
  margin-top: 0em;
  margin-bottom: 0.2em;
  text-align: center;
  color: #fff;
  font-size: 1.5em;
  font-family: "Jersey 15", sans-serif;
}

.startB {
  color: rgb(0, 0, 255, 30);
  background-color: #fff;
  color: black;
  border-width: 0px;
  border-radius: 5px;
  align-self: center;
  padding: 0.5em 1.5em;
  margin: 0.4em;
  font-family: "Jersey 15", sans-serif;
  font-size: 1.2em;
}

.startB:hover {
  color: #fff;
  background-color: rgb(0, 0, 100, 30);
  border-width: 2px;
  border-color: #fff;
}

.stopB {
  color: rgb(0, 100, 255);
  background-color: #fff;
  border-width: 0px;
  border-radius: 5px;
  align-self: center;
  padding: 0.5em 1.5em;
  margin: 0.4em;
  font-family: "Jersey 15", sans-serif;
  font-size: 1.2em;
}

.stopB:hover {
  color: #fff;
  background-color: rgb(0, 100, 255);
  border-width: 2px;
  border-color: #fff;
}
